language: perl
addons:
  apt:
    packages:
    - libssl-dev
    - libxml2
    - libxml2-dev
    - zlibc
    - zlib1g
    - zlib1g-dev
perl:
  - "5.14"
sudo: false
install:
  - "source ./install_dependencies.sh"
before_script:
  - cpanm --quiet --notest --skip-satisfied Devel::Cover::Report::Codecov

script: "dzil test --test-verbose"

after_success:
  - dzil cover -test -report codecov
